body {
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-family: halyard display light;
  position: absolute;
  padding-bottom: 40px;


  }

  /* Main Page */


  .main img {
  margin-left: 435px;
  margin-right: 285px;
  padding-top: 25px;
  padding-bottom: 25px;
  }
  .imgheader h1 {
  margin-left: 387px;
  margin-right: 285px;
  padding-bottom: 30px;
  padding-top: 38px;
  font-size: 22px;
  }

   .header h1 {
   margin-left: 387px;
   padding-top: 38px;
   padding-bottom: 15px;
   font-size: 22px;
   }

   .featuredsongs {
     margin-left: 350px;
     margin-right: 220px;
   }
   .featuredsongs a {
   padding: 10px 10px 10px 30px;
   text-decoration:none;
     }

   .featuredalbums {
   margin-left: 350px;
   margin-right: 220px;
   padding-bottom: 20px
   }



   .featuredalbums a {
   padding: 10px 10px 10px 20px;
   text-decoration:none;
  }

   .main p {
    margin-left: 435px;
    margin-right: 285px;
    line-height: 1.8;
    text-align: left;
    text-align: justify;
    font-size: 15px;
   }

/* sidebar menu */
.profile {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 50px;
  border-style: solid;
  border-width: thin;
  border-color: #e0e2e1;
}

.profile h1 {
  padding-top: 15px;
  padding-bottom: 5px;
}

.profile p {
padding: 0px 50px 0px 52px;
text-align: left;
text-align: justify;

}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 48px;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 20px 20px 20px;
  text-decoration: none;
  font-family: halyard display light;
  text-align: left;
  font-size: 14px;
  color: #818181;
  display: block;
}

.sidenav img {
  padding-top: 210px;
  opacity: 50%;
}

/* navigation links hover color */
.sidenav a:hover {
  color: #f1f1f1;
}


/* Headers */
 h1 {
    margin: 0px;
    padding-left: 50px;
    padding-bottom: 10px;
    text-align: left;
 }

 h6 {
    margin: 1px;
    padding-left: 50px;
    text-align: left;
 }




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
